/* Styles Généraux de la Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #3498db; /* <-- Changé au bleu */
  padding: 10px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  color: white; /* Optionnel : met la couleur par défaut du texte en blanc */
}

.navbar-brand {
  font-size: 1.5em;
  font-weight: bold;
  color: #ffffff; /* <-- Changé au blanc */
  text-decoration: none;
}

/* Styles pour les liens de navigation (pour Desktop) */
.navbar-links {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

.navbar-links li {
  margin-left: 20px;
}

.navbar-links a {
  text-decoration: none;
  color: #ffffff; /* <-- Changé au blanc pour être visible sur fond bleu */
  padding: 5px 10px;
  transition: color 0.3s ease;
}

.navbar-links a:hover {
  color: #ecf0f1; /* Couleur légèrement plus claire au survol */
}

/* Styles pour le bouton hamburger (caché sur Desktop) */
.hamburger-button {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
  padding: 10px;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 30px;
  height: 20px;
}


/* Styles pour les barres de l'icône hamburger */
.hamburger-icon {
  display: block;
  width: 100%;
  height: 3px;
  background-color: #ffffff; /* <-- Changé au blanc pour être visible */
  border-radius: 3px;
  transition: all 0.3s ease-in-out;
}

/* MEDIA QUERY pour les écrans plus petits (mobiles) */
@media (max-width: 768px) { /* Ajuste cette valeur si nécessaire */

  /* Affiche le bouton hamburger sur mobile */
  .hamburger-button {
    display: flex;
  }

  /* Styles pour les liens de navigation sur mobile */
  .navbar-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px; /* Ajuste en fonction de la hauteur de ta navbar */
    left: 0;
    width: 100%;
    background-color: #3498db; /* <-- Tu peux choisir de garder le fond bleu ou mettre un autre fond pour le menu ouvert */
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 20px 0;
    transition: all 0.3s ease-in-out;
    z-index: 999;
    overflow-y: auto;
  }

  /* Styles lorsque le menu est ouvert (classe 'open' ajoutée par React) */
  .navbar-links.open {
    display: flex;
  }

  .navbar-links li {
    margin: 10px 0;
    text-align: center;
  }

  .navbar-links a {
    color: #ffffff; /* <-- S'assurer qu'ils sont blancs aussi dans le menu mobile */
    font-size: 1.2em;
  }


  /* Styles Optionnels : Animation de l'icône hamburger */
  /* N'a pas besoin de changer, les barres étant déjà blanches */
  .hamburger-button.open .hamburger-icon:nth-child(1) {
    transform: rotate(-45deg) translate(-6px, 6px);
  }

  .hamburger-button.open .hamburger-icon:nth-child(2) {
    opacity: 0;
  }

  .hamburger-button.open .hamburger-icon:nth-child(3) {
    transform: rotate(45deg) translate(-6px, -6px);
  }

}
